.midText {
    display: flex;
    justify-content: center; 
    align-items: center;  
  }
  
  .midText-text {
    text-align: center; 
  }

  .fixedPosBar{
    position: absolute;
    top: 30px;
    left: 500px;
  }