.quantity {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.quantity input {
    width: 50px;
    text-align: center;
    margin: 0 5px;
}

.detailbox {
    padding: 10px 50px;
    margin: 10px;
    width: fit-content;
    background-color: white;
    border-radius: 8px;
  }

  .midText {
    display: flex;
    justify-content: center; 
    align-items: center;  
  }
  
  .midText-text {
    text-align: center; 
  }