   .restaurant-card {
    margin: 10px;
    border: 0px solid #000000;
    border-radius: 5px;
    padding: 20px;
    width: 350px;
    /* box-shadow: 5px 5px rgba(0, 0, 0, 0.1); */
    background-color: white;
    transition: all 0.3s ease-in-out;
  }
  
  .restaurant-card h2 {
    margin-top: 0;
  }
  
  .restaurant-card p {
    margin: 5px 0;
  }

  .restaurant-card:hover, .restaurant-card:focus, .restaurant-card:active{
    color: white;
    background-color: #474747;
  }