.review-card {
    margin: 10px;
    border: 0px solid #000000;
    border-radius: 5px;
    padding: 20px;
    width: 350px;
    /* box-shadow: 5px 5px rgba(0, 0, 0, 0.1); */
    background-color: white;
    
  }


