.confirm{
  padding: 8px 16px;
  border: 1px solid #000;
  background-color: white;
  color: #000;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  border-radius: 8px;
  margin: 10px;
}

.confirm:hover {
  background-color: #000000;
  color: #01b14e;
  font-size: 20px;
}

.addAddress{
  padding: 8px 16px;
  border: 1px solid #000;
  background-color: white;
  color: #000;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 8px;
}

.addAddress:hover {
background-color: #000000;
color: #ffffff;
}

.midText {
display: flex;
justify-content: center; 
align-items: center;  
}

.midText-text {
text-align: center; 
}